/* --------------
Favre Alan
T.IS-E2A
2018
Travail de diplôme
WebDJ
Fichier : style.css
-------------- */

@charset "utf-8";

/* -------------- */
/* GENERAL LAYOUT */

#background {
    position: absolute;
    width: 1920px;
    height: 974px;
    background-color: white;
    top: 0px;
    left: 0px;
}

#left-deck {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 696px;
    height: 970px;
    background-color: #333333;
}

#right-deck {
    position: absolute;
    top: 2px;
    left: 1222px;
    width: 696px;
    height: 970px;
    background-color: #333333;
}

#mixer {
    position: absolute;
    top: 2px;
    left: 702px;
    width: 516px;
    height: 970px;
    background-color: #262626;
}

/* -------------------- */
/* DECKS GENERAL LAYOUT */

.switch-buttons {
    position: absolute;
    top: 10px;
    left: 75px;
    width: 200px;
    height: 30px;
}

.infos-button {
    left: 0px;
}

.browse-button {
    left: 95px;
}

.screen {
    position: absolute;
    top: 50px;
    left: 75px;
    width: 550px;
    height: 255px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
}

.turntable {
    position: absolute;
    top: 320px;
    left: 125px;
    width: 450px;
    height: 450px;
    background-image: url("../IMG/turntable.png");
    background-size: contain;
    border-radius: 50%;
}

#left-turntable {
    background-color: red;
}

#right-turntable {
    background-color: blue;
}

.buttons {
    position: absolute;
    top: 748px;
    left: 12px;
    height: 210px;
    width: 95px;
}

.loops {
    position: absolute;
    top: 786px;
    left: 125px;
    width: 450px;
    height: 75px;
}


.hot-cues {
    position: absolute;
    top: 881px;
    left: 125px;
    width: 450px;
    height: 75px;
}

.pitch {
    position: absolute;
    top: 606px;
    left: 613px;
    width: 50px;
    height: 350px;
}

.minus-pitch {
    position: absolute;
    top: 585px;
    left: 675px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 25pt;
}

.plus-pitch {
    position: absolute;
    top: 937px;
    left: 674px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 18pt;
}

/* -------------- */
/* SCREEN DETAILS */

.cover {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    border: 1px solid white;
}

.track-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 550px;
    height: 150px;
}

.track-waveform {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 530px;
    height: 90px;
    border: 1px solid white;
}

.track-hot-cues {
    position: absolute;
    top: 242px;
    left: 11px;
    width: 530px;
    height: 9px;
    color: white;
    font-size: 9pt;
}

.track-selection {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 230px;
    width: 530px;
    border: 1px solid white;
}

.infos {
    position: absolute;
    top: 10px;
    left: 150px;
    height: 130px;
    width: 390px;
    border: 1px solid white;
    color: white;
    font-family: Tahoma;
    font-size: 11pt;
}

.screen table {
    color: white;
    font-size: 10pt;
}

.infos .title {
    position: absolute;
    top: 5px;
    left: 7px;
}

.infos .artist {
    position: absolute;
    top: 31px;
    left: 7px;
}

.infos .album {
    position: absolute;
    top: 56px;
    left: 7px;
}

.infos .year {
    position: absolute;
    top: 81px;
    left: 7px;
}

.infos .genre {
    position: absolute;
    top: 106px;
    left: 7px;
}

.infos .bpm {
    position: absolute;
    top: 81px;
    left: 316px;
    text-align: right;
}

.infos .duration {
    position: absolute;
    top: 106px;
    left: 293px;
    text-align: right;
}

.track-selection thead {
    background-color: lightgrey;
    color: black;
}

.load-button {
    width: 35px;
    height: 15px;
    background-color: blue;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 8pt;
    line-height: 15px;
}

/* -------------------------- */
/* CUE & PLAY / PAUSE BUTTONS */

.generic-round-button {
    position: absolute;
    left: 0px;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color: lightgrey;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

.inside-button-2 {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.inside-button-3 {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: lightgrey;
}

.play-pause-button {
    top: 115px;
}

.play-pause-inside {
    background-color: greenyellow;
}

.play-pause-text {
    text-align: center;
    line-height: 90px;
}

/* ---------------- */
/* LOOPS & HOT CUES */

.generic-button {
    position: absolute;
    top: 0px;
    height: 75px;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    line-height: 75px;
    color: black;
    font-size: 15pt;
    font-family: Tahoma;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

.hot-button {
    background: radial-gradient(whitesmoke 5%, darkgrey 95%);
}

.btn-1 {
    left: 0px;
}

.btn-2 {
    left: 117px;
}

.btn-3 {
    left: 234px;
}

.btn-4 {
    left: 352px;
}

/* -------------------- */
/* MIXER GENERAL LAYOUT */

#about {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 476px;
    height: 110px;
    background-color: black;
    border-radius: 3px;
    border: 1px solid white;
    text-align: center;
    color: white;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
}

#title {
    margin-bottom: 5px;
    font-size: 22pt;
}

#author {
    font-size: 11.5pt;
}

#separator {
    margin-top: 2px;
    width: 100%;
    height: 1px;
    background-color: white;
}

.key-map-button {
    left: 193px;
    top: 70px;
}

#shortcuts {
    position: absolute;
    width: 476px;
    height: 165px;
    background-color: black;
    left: 20px;
    top: 140px;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0 0 4px 5px rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
    color: white;
    font-size: 11.5pt;
}

#short-effects {
    position: absolute;
    width: 468px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid white;
    left: 3px;
    top: 3px;
    line-height: 35px;
    text-align: center;
}

#left-deck-short {
    position: absolute;
    width: 231px;
    height: 118px;
    left: 3px;
    top: 42px;
    border-radius: 3px;
    border: 1px solid white;
    text-align: center;
}

.short-text {
    margin-top: 4px;
}

#right-deck-short {
    position: absolute;
    border-radius: 3px;
    border: 1px solid white;
    width: 231px;
    height: 118px;
    left: 240px;
    top: 42px;
    text-align: center;
}

#left-equalizer
{
    position: absolute;
    top: 150px;
    left: 149px;
    width: 50px;
    height: 250px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

#right-equalizer {
    position: absolute;
    top: 150px;
    left: 317px;
    width: 50px;
    height: 250px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

#effects {
    position: absolute;
    top: 315px;
    left: 10px;
    width: 112px;
    height: 172px;
    border-radius: 3px 3px 0px 3px;
    background-color: #3F3F3F;
}

#zone-effects {
    position: absolute;
    height: 50px;
    width: 280px;
    background-color: #3F3F3F;
    left: 122px;
    top: 437px;
}

#filter {
    position: absolute;
    top: 500px;
    left: 0px;
    height: 75px;
    width: 516px;
    background-color: #3F3F3F;
}

#filter-button {
    position: absolute;
    left: 40px;
    top: 29px;
    font-size: 11pt;
    font-family: Tahoma;
    color: white;
}

#left-fader {
    position: absolute;
    left: 153px;
    top: 600px;
    width: 50px;
    height: 270px;
}

#right-fader {
    position: absolute;
    left: 321px;
    top: 600px;
    width: 50px;
    height: 270px;
}

#cross {
    position: absolute;
    left: 122px;
    top: 885px;
    width: 272px;
    height: 50px;
}

/* ---------- */
/* EQUALIZERS */

.high {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.high-text {
    position: absolute;
    top: 52px;
    text-align: center;
    width: 50px;
}

.medium {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.medium-text {
    position: absolute;
    top: 152px;
    text-align: center;
    width: 50px;
}

.low {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.low-text {
    position: absolute;
    top: 252px;
    text-align: center;
    width: 50px;
}

/* ---------- */
/* KNOB STYLE */

.generic-knob {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 46px;
    height: 46px;
    pointer-events: none;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
}

.left-knob {
    border: 2px solid red;
}

.right-knob {
    border: 2px solid blue;
}

.left-knob:focus {
    border: 2px dotted red;
    outline: none;
}

.right-knob:focus {
    border: 2px dotted blue;
    outline: none;
}

/* ------------- */
/* EFFECTS STYLE */

#choose-effect {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    width: 112px;
    top: 7px;
}

#effect-1 {
    top: 31px;
    left: 11px;
}

#effect-2 {
    top: 81px;
    left: 11px;
}

#effect-3 {
    top: 131px;
    left: 11px;
}

.effect-generic {
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: black;
    font-size: 11pt;
    font-family: Tahoma;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
    cursor: pointer;
    background-image: radial-gradient(#00e600 5%, #008000 95%);
}

.on-button {
    position: absolute;
    width: 50px;
    height: 30px;
    border-radius: 3px;
    background-image: radial-gradient(#00e600 5%, #008000 95%);
    font-size: 11pt;
    font-family: Tahoma;
    color: black;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.5);
    cursor: pointer;
    line-height: 30px;
}

.on-button-top-effect {
    top: 10px;
}

.on-button-top-high {
    top: 5px;
}

.on-button-top-low {
    top: 40px;
}

#l-on-button {
    left: 27px;
}

#r-on-button {
    left: 195px;
}

#left-filter {
    position: absolute;
    top: 0px;
    left: 149px;
    width: 50px;
    height: 75px;
}

#right-filter {
    position: absolute;
    top: 0px;
    left: 317px;
    width: 50px;
    height: 75px;
}

/* ----------- */
/* FADER STYLE */

.verticalRangeMixer {
    position: absolute;
    top: 94px !important;
    left: -115px !important;
    transform: rotate(270deg);
    width: 272px !important;
}

.verticalRangePitch {
    position: absolute;
    top: 140px;
    left: -150px;
    transform: rotate(90deg);
    width: 350px !important;
}

.faderRange[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
}
.faderRange[type=range]:focus {
    outline: none;
}

#horizontalRange::-webkit-slider-runnable-track {
    height: 50px;
    cursor: pointer;
    background-image: url("../IMG/fader_background.png");
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.5);
}

.verticalRangeMixer::-webkit-slider-runnable-track {
    height: 50px;
    cursor: pointer;
    background-image: url("../IMG/fader_background.png");
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.5);
}

.verticalRangePitch::-webkit-slider-runnable-track {
    height: 50px;
    cursor: pointer;
    background-image: url("../IMG/fader_pitch.png");
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.5);
}

.verticalRangeMixer[type=range]::-webkit-slider-thumb {
    height: 70px;
    width: 30px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.5px;
}

.verticalRangePitch[type=range]::-webkit-slider-thumb {
    height: 70px;
    width: 30px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.7px;
}

#horizontalRange[type=range]::-webkit-slider-thumb {
    height: 70px;
    width: 30px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

.faderRange[type=range]::-moz-range-track {
    width: 100%;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(94, 94, 94, 0), 0px 0px 0px rgba(107, 107, 107, 0);
    background: #5e5e5e;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.faderRange[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    height: 70px;
    width: 30px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}
.faderRange[type=range]::-ms-track {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.faderRange[type=range]::-ms-fill-lower {
    background: #5e5e5e;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px rgba(94, 94, 94, 0), 0px 0px 0px rgba(107, 107, 107, 0);
}
.faderRange[type=range]::-ms-fill-upper {
    background: #5e5e5e;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px rgba(94, 94, 94, 0), 0px 0px 0px rgba(107, 107, 107, 0);
}
.faderRange[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 70px;
    width: 30px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    height: 50px;
}
.faderRange[type=range]:focus::-ms-fill-lower {
    background: #5e5e5e;
}
.faderRange[type=range]:focus::-ms-fill-upper {
    background: #5e5e5e;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}